extend layout
block content
   h2 Average daily donations
   section.everything
      svg(id='visualisation', width='1000', height='500')
      script(src='http://d3js.org/d3.v3.min.js')
      script(src='/javascripts/analytics.js')


